@using Warehouse.Core.ViewModels
@using Warehouse.Infrastructure.Enums

@model ProductsSearchViewModel
<div class="content-container">
    <div class="create-button-div">
        <a href="/Product/Create" type="button" class="btn btn-block btn-info btn-lg">Create Product</a>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Responsive Hover Table</h3>
                    <div class="card-tools">
                        <form asp-controller="Home" asp-action="Index" method="get">
                            <div class="input-group-sm productId-search" style="width: 150px;">
                                @if (Model.ProductId != null)
                                {
                                    <input value="@Model.ProductId" class="form-control" placeholder="Search By Product Id" type="text" name="productId" />
                                }
                                else
                                {
                                    <input class="form-control" placeholder="Search By Product Id" type="text" name="productId" />
                                }
                            </div>
                            <div class="input-group-sm select-category-search" style="width: 150px;">
                                <select class="form-control" name="category">
                                    <option value="All">All Categories</option>
                                    @foreach (ProductCategory cat in (ProductCategory[])Enum.GetValues(typeof(ProductCategory)))
                                    {
                                        @if (cat.ToString() == Model.ProductCategory)
                                        {
                                            <option selected="selected" value="@cat">@cat</option>
                                        }
                                        else
                                        {
                                            <option value="@cat">@cat</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="input-group input-group-sm" style="width: 150px;">
                                @if (Model.SearchString != null)
                                {
                                    <input value="@Model.SearchString" class="form-control" placeholder="Search" type="text" name="searchString" />
                                }
                                else
                                {
                                    <input class="form-control" placeholder="Search" type="text" name="searchString" />
                                }
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card-body table-responsive p-0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="id-field">ID</th>
                                <th>Name</th>
                                <th class="description-field">Description</th>
                                <th>Selling Price</th>
                                <th>Purchase Price</th>
                                <th>Image</th>
                                <th>Quantity</th>
                                <th>Category</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Products.Any())
                            {
                                @foreach (var product in Model.Products)
                                {
                                    <tr>
                                        <td>@product.Id</td>
                                        <td>@product.Name</td>
                                        <td>@product.Description</td>
                                        <td>@product.SellingPrice</td>
                                        <td>@product.PurchasePrice</td>
                                        @if (product.Image != null)
                                        {
                                            <td class="product-img-cell"><img class="product-img" src="~/uploads/@product.Image"></td>
                                        }
                                        else
                                        {
                                            <td>No Image</td>
                                        }

                                        <td>@product.Quantity</td>
                                        <td>@product.Category</td>
                                        <td class="actions">
                                            <a href="/Product/Edit/@product.Id" class="btn btn-app">
                                                <i class="fas fa-edit"></i> Edit
                                            </a>
                                            <a href="/Product/Delete/@product.Id" class="btn btn-app bg-danger">
                                                <i class="fas fa-inbox"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td style="text-align: center;" colspan="9">No products found!</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
    <paging page-no="Model.PageNo"
            page-size="Model.PageSize"
            total-records="Model.TotalRecords"
            page-size-dropdown-items="5-10-15">
    </paging>
</div>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <img id="modal-img" src="" alt="img"/>
    </div>

</div>

@section Head{
    <link rel="stylesheet" href="~/css/productViews.css" type="text/css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/modal.css" type="text/css" asp-append-version="true" />
}

@section Scripts{
    <script src="~/js//modal.js"></script>
}